<!-- 
* The double curly braces is used to render data on page. It's
called "data binding" or string interpolation. 

* With "template" we will either call an html file or actually
write up html code.

* "*ngFor" is an example of a directive. It is used to manipulate
elements from the "DOM".
-->
<h2>{{ this.title }}</h2>
<ul>
    <!-- "let" and "of" are both key words. -->
    <!-- "let" we are defining a variable. In the example below it's "course". -->
    <!-- "of" we are setting the defined varible with a "field". -->
    <!-- In the example below we are pulling it from "courses". -->
    <!-- "*ngFor"works like a loop. It will illiterate each item in the
    array one by one. -->
    <li *ngFor="let course of courses">
        {{ course }}
    </li>
</ul>

<!-- "[class.active]" is an example of class binding. -->
<!-- It will be added to the class attribute if it encounters a certain condition -->
<!-- <button class='btn btn-primary' [class.active]="isActive">Save</button> -->

<button class="btn" (click)="onSave($event)" [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button>

<!-- Angular has a better method to show what key was pressed. -->
<!-- The uncommented version is the better method. It's called event filtering. -->
<!-- <input type="text" (keyup)="onKeyUp($event)"> -->
<input type="text" (keyup.enter)="onKeyUp()">

<!-- Using '#' we are creating a variable. The example below we are creating the variable 'email' -->
<!-- This is called "template variables" -->
<!-- But we can do better. We want to incapsulate our files. So we should apply two way binding -->
<!-- <input type="text" #email (keyup.enter)="onKeyIn(email.value)"> -->

<!-- ngModel is used for two-way binding -->
<input type="text" [(ngModel)]="email" (keyup.enter)="onKeyIn()">