@import url('https://fonts.googleapis.com/css?family=Arvo');

/*Universal*/
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	float: right;
}

li {
	width: 80px;
	text-align: center;
	display: inline-block;
}

.font-arvo {
	font-family: 'Arvo', serif;
}

.font-gloria-hallelujah {
	font-family: 'Gloria Hallelujah', cursive;
}

p {
	line-height: 25px;
	letter-spacing: 3px;
}

a:visited {
	text-decoration: none;
}

/*Universal Ends*/


/*Header*/
.main-nav {
	background-color: lightgrey;
	position: fixed;
	top: 0;
	width: 98%;
	padding: 20px;
}

.logo {
	height: 55px;
	border-spacing: 0px;
}

.link{
	text-decoration: none;	
}

.link:hover {
	color: red;
	text-shadow: 0 0 3px green;
}
/*Header Ends*/


/*Hero*/
.hero {
	height: 700px;
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: center;
	padding: 15px;
	color: green;
	text-align: center;
}

.hero-content {
	background-color: rgba(0,0,0,0.2);
	position: relative;
	top: 250px;
	/*border-radius: 50%;*/
	/*border-top-left-radius: 25px;*/
	/*border-top-right-radius: 25px;*/
	border-radius: 25px 0 25px 0;
}
/*Hero Ends*/


/*Content*/
.content {
	padding: 50px;
}

.center {
	text-align: center;
}

.text-upper {
	text-transform: uppercase;
}

.text-justified {
	text-align: justify;
}

.columns {
	height: 450px;
	padding: 10px 0;
	position: relative;
}

.column1 {
	width: 45%;
}

.column1-image {
	width: 100%;
}

.column2 {
	width: 45%;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}


/*Content Ends*/


/*Footer*/
.footer {
	background-color: rgb(211,211,211);
	padding: 15px;
}

.social-media-items {
	float: none;
	text-align: center;
	padding: 0;
}

.copyright {
	text-align: center;
}

.fa-instagram {
	text-decoration: none;
}

/*Footer Ends*/



.fa {
    /*background-color: lightpink;*/
}

.fa:hover {
    color: green;
    
}

.fa-facebook-official {
    color: #334f8d;
}

ul li:nth-child(2) {
    color: green;
}