.center {
  text-align: center;
  color: white;
  background-color: pink;
}

.block {
  height: 20px;
  border: 1px solid black;
}


/*Classes for exercise inline, block, inline-block*/
.inline {
  border: 1px solid green;
  height: 30px;
  width: 200px;
  display: inline-block;
}

.display-inline {
  background-color: red;
  height: 20px;
  width: 20px;
  display: inline;
  margin: 10px;
  padding: 10px;
}

.display-inline-block {
  background-color: red;
  height: 20px;
  width: 70px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}



.display-block {
  background-color: red;
  padding: 10px;
  display: block;
}


/*Classes for stacking blocks with float*/
.box {
  height: 50px;
  width: 100px;
  
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.left {
  float: left;
}

.clear-left {
  clear: left;
}


/*Classes for nav bar*/

.new-block{
  clear: left;
}

.nav-bar {
  background-color: #f1f1f1;
  margin: 0;
}

.nav-link {
  list-style: none;
  display: inline-block;
  padding: 20px 0 20px 0;
  float: left;
  border: 2px solid;
}