.logo{
    height: 100px;
    width: 100px;
}

.top {
  height: 10%;
  width: 50%;
  display: block;
}

/*box and float properties*/
.box {
  height: 50px;
  width: 50px;
  border: 1px solid blue;
  text-align: center;
  padding: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-right{
  clear: right;
}

/*Section One*/
.one {
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-top: 50px;
    height: 300px;
}

.one .clear-right{
    margin-top: 200px;
}

/*Section Two*/
.two {
  border-top: 2px solid black;
  padding: 50px;
  height: 130px;
}

/*Section Three*/
.three {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 50px;
    height: 130px;
}

.center {
    margin: 0 auto;
}
