/*Main Starts*/
main{
    height: 550px;
}

.bio {
    height: 90%;
    width: 45%;
    padding: 25px 100px;
    margin: 0 auto;
}

.bio img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.bio p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 30px;
}
/*Main Ends*/

/*Section 1 Starts*/
.section1 {
    height: 920px;
    margin: 5px 0;
}

.section1-title {
    height: 50px;
    margin: 10px 0 60px 0;
    text-decoration: underline;
    position: relative;
    top: 25px
}

.section1-content1, .section1-content2 {
    border-top: 2px solid rgba(255,174,213, .3);
    border-bottom: 2px solid rgba(255,174,213, .3);
    display: flex;
    height: 400px;
    width: 1600px;
}

.section-video {
    border-right: 2px solid rgba(255,174,213,0.3);
    width: 50%;
}

iframe {
    height: 100%;
    width: 100%;
}

.section1-info1, .section1-info2, .section2-info1, .section2-info2 {
    height: 100%;
    width: 50%;
    padding: 0 120px;
    color: white;
}

.section1-info1 {
    background: linear-gradient(rgba(29,161,242,0.7),
        rgba(255,174,213,0.7)),
        url('../images/shatter-me.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.section1-info2 {
    background: linear-gradient(rgba(255,174,213,0.7),
        rgba(29,161,242,0.7)),
        url('../images/alone.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.pop-up {
    visibility: hidden;
    display: inline;
    margin-top: 150px;
    margin-right: 300px;
    float: right;
}

.row-title {
    width: 150px !important;
    border-bottom: 3px solid white;
    left: 30px;
}

.row-paragraph {
    width: 300px;
    right: 45px;
}

.row-title, .row-paragraph {
    margin: 20px 0;
    text-align: center;
    position: relative; 
}

.section1-info1 p, .section1-info2 p {
    line-height: 40px;
}

.section1-info1:hover {
    background: linear-gradient(rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url('../images/shatter-me.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section1-info1:hover .hide {
    visibility: hidden;
}

.section1-info1:hover .pop-up {
    visibility: visible;
}

.section1-info2:hover {
    background: linear-gradient(rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url('../images/alone.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section1-info2:hover .hide {
    visibility: hidden;
}

.section1-info2:hover .pop-up {
    visibility: visible;
}

.section2-info1 p, .section2-info2 p {
    line-height: 30px;
}

/*Section 1 Ends*/


/*Section 2 Starts*/
.section2-info1 {
    background: linear-gradient(rgba(29,161,242,0.7),
        rgba(255,174,213,0.7)),
        url('../images/community.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.section2-info2 {
    background: linear-gradient(rgba(255,174,213,0.7),
        rgba(29,161,242,0.7)),
        url('../images/firefly.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.section2-info1:hover {
    background: linear-gradient(rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url('../images/community.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section2-info1:hover .hide {
    visibility: hidden;
}

.section2-info1:hover .pop-up {
    visibility: visible;
}

.section2-info2:hover {
    background: linear-gradient(rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url('../images/firefly.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section2-info2:hover .hide {
    visibility: hidden;
}

.section2-info2:hover .pop-up {
    visibility: visible;
}
/*Section 2 Ends*/


/*My icons starts*/
.random-bar {
    height: 150px;
    margin: 100px 0 0 0;
    background-color: rgba(255,235,237,0.7);
    text-align: center;
}

.my-message {
    font-size: 30px;
}

.load-cursor .fa {
    padding: 10px;
}

.load-cursor, .arrow {
    position: relative;
    top: 18px;
}

.load-cursor, .arrow, .my-message {
    margin: 0 20px;
    display: inline-block;
}
/*My icons ends*/