@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Exo');

/*Universal Start*/
* {
    margin: 0;
    padding: 0;
    
/*    font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

ul, li, a, a:visited {
    text-decoration: none;
    list-style: none
}

.parent {
    position: relative;
}

.left {
    float: left;
}
/*Universal Ends*/



/*Header Starts*/
header, .logo, .page-title{
    display: inline-block;
    color: #ffffff;
    
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(149,199,244,0.8);
}

.header-main {
    text-align: center;
    
}

.fa-empire {
    color: #ffaed5;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 7px;
}

.page-title {
    margin-top: 8px;
}
/*Header Ends*/


/*Nav Starts*/
nav {
    height: 40px;
    background-color: rgba(149,199,244,0.8);
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav-bar {
    height: 100%;
    width: 25%;
    margin: 0px 38%;
    display: flex;
    flex: center;
}

.nav-link {
    height: 100%;
    width: 20%;
    margin: 5px 10px;
    text-align: center;
    font-size: 20px;
}

.nav-link a {
    color: #ffffff;
}

.nav-link a:hover {
    border-bottom: 5px solid #ffaed5;
    color: #ffaed5;
}
/*Nav Ends*/


/*Hero Starts*/
.hero {
    height: 700px;
    width: 100%;
    background-image: url('../images/lake-view.jpg');
    margin-bottom: 30px;
}

.hero-content h1{
    color: #ffaed5;
    letter-spacing: 75px;
    font-size: 50px;
    text-shadow: 5px -5px 5px black;
}

.hero-content h1:first-child {
    position: absolute;
    top: 450px;
    left: 29%;
    -ms-transform: rotate(33deg); /* IE 9 */
    -webkit-transform: rotate(33deg); /* Chrome, Safari, Opera */
    transform: rotate(33deg);
}

.hero-content h1:nth-child(2) {
    position: absolute;
    top: 400px;
    left: 64%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.hero-content h1:nth-child(3) {
    position: absolute;
    top: 295px;
    left: 75%;
    -ms-transform: rotate(-22deg); /* IE 9 */
    -webkit-transform: rotate(-22deg); /* Chrome, Safari, Opera */
    transform: rotate(-22deg);
}
/*Hero Ends*/



/*Main Starts*/
.inner-box img{
    height: 75px;
    width: 75px;
    margin-right: 7px;
}

.inner-box h3 {
    margin: 35px 0 5px 0;
    background-color: rgba(149,199,244,0.8);
}

.outter-box0 {
    height: 6%;
    width: 91%;
    margin: 20px 0 0 49px;
}

.inner-box h3, .outter-box0 {
/*    background-color: rgba(149,199,244,0.8);*/
}
.outter-box1, .outter-box2 {
    height: 90%;
    width: 42%;
    margin: 0px 50px;
    float: left;
}

.row1-title, .inner-box h3 {
    text-decoration: underline;
    text-transform: capitalize;
}

.rows {
    height: 900px;
    padding: 0 70px;
}

.row1-title {
    position: relative;
    top: 5px;
}

.inner-box {
    height: 20%;
}

/*Main Ends*/



/*Section Starts*/
.section2 {
    height: 600px;
    margin-bottom: 125px;
    padding-top: 15px;
    background-color: rgba(255,235,237,0.7);
    border: 2px solid rgb(255,235,237);
}

.container {
    height: 100%;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
}

.section-title {
    margin: 30px 0;
    text-decoration: underline;
    text-transform: capitalize;
}

.section-rows {
    height: 91%;
}

.left-content, .right-content{
    height: 80%;
    width: 45%;
    margin: 20px 2%;
    float: left;
    background-color: rgba(149,199,244,0.7);
    border: 2px solid rgb(149,199,244);
    border-radius: 35px;
}

.left-content div, .right-content div{
    margin: 10px 30px;
}

.section-img {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    position: relative;
    left: 145px;
}

.button {
    display: inline-block;
    height: 40px;
    width: 150px;
    color: black;
    background-color: #ffaed5;
    border: 2px solid rgb(255,235,237);
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    border-radius: 7px;
    position: relative;
    left: 130px;
    top: 20px;
}

.left-content .button {
    position: relative;
    left: 153px;
    top: 65px;
}

.right-content .button {
    position: relative;
    left: 153px;
    top: 20px;
}

.button h4{
    position: relative;
    top: 9px;
}

.button:hover {
    color: #ffffff;
    background-color: rgb(255, 204, 209);
}
/*Section Ends*/


/*Footer Starts*/
footer{
    height: 150px;
    background-color: rgba(149,199,244,0.8);
}

.social-media-bar {
    height: 75px;
    width: 300px;
    position: absolute;
    right: 0;
    z-index: 10;
}

.items {
    display: inline-block;
    width: 22%;
    padding: 9px;
    color: white;
    text-align: center;
    float: right;
    clear: right;
/*    z-index: 10;*/
}

.items:hover {
    width: 40%;
}

.social-links:first-child .items{
    background-color: #3c5a99;
}

.social-links:nth-child(2) .items{
    background-color: #1da1f2;
}

.social-links:nth-child(3) .items{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( top right, #5440d7,#ab43a8, #e1102d,#fec463); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(right top,#5440d7, #ab43a8,#e1102d,#fec463);/* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(top right,#5440d7,#ab43a8,#e1102d,#fec463);/* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(top right, #5440d7,#ab43a8,#e1102d,#fec463); 
}

.copy-right {
    position: relative;
    top: 65px;
}

.copy-right p {
    text-align: center;
}
/*Footer Ends*/


